<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flip a Coin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046B2DC31E3BEDF6009E15C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046B2DD71E3BEDF6009E15C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046B2DE21E3BEDF6009E15C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
